{% extends "layout.html" %}
{% block title %}Movies List{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
    form {
      display: inline;
    }
  </style>
{% endblock %}
{% block content %}
  <h1>Movies</h1>
  <ul class="important">
    {% for item in data %}
      <li>
        {{ item.title }} ({{ item.year }}) - Rating: {{ item.rating }}
        <form method="POST" action="/delete/{{ item.id }}" onsubmit="return confirm('Are you sure you want to delete this movie?');">
          <button type="submit">Delete</button>
        </form>
      </li>
    {% else %}
      <li>No movies found.</li>
    {% endfor %}
  </ul>
{% endblock %}